<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用代理对象 proxyUserDao 来替换 IUSerDao 的实现类 -->

    <bean id="iUserService" class="com.jie.spring.test.IUserService" scope="prototype">
        <property name="uId" value="10003"/>
        <property name="company" value="TP-LINK"/>
        <property name="location" value="南京"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="com.jie.spring.test.ProxyBeanFactory"/>

</beans>
